<!-- user_list.html -->

{% extends 'layouts/base.html' %}
{% block title %} User List {% endblock title %}
{% block content %}
{% load my_filters %}
<div class="header bg-dark pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Accueil</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Liste des classes</a></li>
                <li class="breadcrumb-item active" aria-current="page">Classe {{classe.niveau}}</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
   

<div class="row">
  <div class="col">
      <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
              <h3 class="mb-0">Liste des élèves de la classe de {{classe.nom}}</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="sort" data-sort="name">Prénom</th>
                        <th scope="col" class="sort" data-sort="budget">Nom</th>
                        <th scope="col" class="sort" data-sort="completion">Âge</th>
                        
                        <th scope="col" class="sort" data-sort="completion">Risque d'abandon</th>
                        <th scope="col" class="sort" data-sort="completion">Probabilité de réussite</th>
                        <th scope="col" class="sort">Faire une prédiction</th>
                    </tr>
                </thead>
                <tbody class="list">
                    {% for eleve in eleves %}
                        <tr>
                            <th scope="row">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <span class="name mb-0 text-sm">{{ eleve.prenom }}</span>
                                    </div>
                                </div>
                            </th>
                            <td class="budget">
                                {{ eleve.nom }}
                            </td>
                            <td>
                                {{ eleve.age_at_enrollment }}
                            </td>
                            
                            <td>
                              {% if eleve.risque_abandon is not null %}  
                                <div class="d-flex align-items-center">
                                  <span class="completion mr-2">{{ eleve.risque_abandon|round_to_int}}%</span>
                                  <div>
                                    <div class="progress">
                                      <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="{{ eleve.risque_abandon }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ eleve.risque_abandon }}%;"></div>
                                    </div>
                                  </div>
                                </div>
                              {% else %}
                                {{ eleve.risque_abandon }}
                              {% endif %}
                            </td>
                            
                            <td>
                              {% if eleve.proba_reussite is not null %}  
                                <div class="d-flex align-items-center">
                                  <span class="completion mr-2">{{ eleve.proba_reussite|round_to_int }}%</span>
                                  <div>
                                    <div class="progress">
                                      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ eleve.proba_reussite }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ eleve.proba_reussite }}%;"></div>
                                    </div>
                                  </div>
                                </div>
                              {% else %}
                                {{ eleve.proba_reussite }}
                              {% endif %}
                            </td>

                            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                            <td>
                              {% if eleve.risque_abandon is not null and eleve.proba_reussite is not null %}
                                <a href="#" class="btn bg-gradient-success disabled" onclick="return false;">Prédire</a>
                                  
                              {% else %}
                              <a href="{% url 'update_eleve_fields' eleve.id %}" 
                                  class="predict-btn btn bg-gradient-success"
                                  
                                  >
                                  Prédire
                              </a>
                              {% endif %}
                          </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
          <!-- Card footer -->
          <div class="card-footer py-4">
              <nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                      <!-- ... pagination ... -->
                  </ul>
              </nav>
          </div>
      </div>
  </div>
</div>

<!-- ... votre code HTML existant ... -->

</table>

<!-- <script>
  $('.predict-btn').on('click', function () {
      var eleveId = $(this).data('id');
      var nom = $(this).data('nom');
      var prenom = $(this).data('prenom');

      // Ajoutez les autres champs dont vous avez besoin ici
      var applicationMode = $(this).data('application-mode');
      var displaced = $(this).data('displaced');
      var debtor = $(this).data('debtor');
      var tuitionFeesUpToDate = $(this).data('tuition_fees_up_to_date');
      var gender = $(this).data('gender');
      var scholarshipHolder = $(this).data('scholarship-holder');
      var ageAtEnrollment = $(this).data('age-at-enrollment');
      var curricularUnits1stSemEnrolled = $(this).data('curricular-units-1st-sem-enrolled');
      var curricularUnits1stSemApproved = $(this).data('curricular-units-1st-sem-approved');
      var curricularUnits1stSemGrade = $(this).data('curricular-units-1st-sem-grade');
      var curricularUnits2ndSemEnrolled = $(this).data('curricular-units-2nd-sem-enrolled');
      var curricularUnits2ndSemApproved = $(this).data('curricular-units-2nd-sem-approved');
      var curricularUnits2ndSemGrade = $(this).data('curricular-units-2nd-sem-grade');

      // Sérialisez toutes les données dont vous avez besoin dans l'objet payload
      var payload = {
          
          nom: nom,
          prenom: prenom,
          application_mode: applicationMode,
          displaced: displaced,
          debtor: debtor,
          tuition_fees_up_to_date: tuitionFeesUpToDate,
          gender: gender,
          scholarship_holder: scholarshipHolder,
          age_at_enrollment: ageAtEnrollment,
          curricular_units_1st_sem_enrolled: curricularUnits1stSemEnrolled,
          curricular_units_1st_sem_approved: curricularUnits1stSemApproved,
          curricular_units_1st_sem_grade: curricularUnits1stSemGrade,
          curricular_units_2nd_sem_enrolled: curricularUnits2ndSemEnrolled,
          curricular_units_2nd_sem_approved: curricularUnits2ndSemApproved,
          curricular_units_2nd_sem_grade: curricularUnits2ndSemGrade,
      };
      console.log(payload);
      // Effectuez une requête AJAX vers votre API de prédiction
      $.ajax({
          url: 'http://127.0.0.1:5000/predictStudent/',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(payload),
          success: function (response) {
              // Mettez à jour les champs dans la page avec la réponse de l'API
              $('#' + eleveId + '-risque-abandon').text(response.proba_dropout + '%');
              $('#' + eleveId + '-proba-reussite').text((100 - response.proba_dropout) + '%');
          },
          error: function () {
              alert('Erreur lors de la prédiction.');
          }
      });

      // Empêchez le lien d'être suivi
      return false;
  });
</script> -->
<!-- <script>
  function updateEleveFields(eleveId,classeId) {
      // Envoyez une requête Ajax à la vue Django pour mettre à jour les champs
      $.ajax({
          type: 'POST',
          url: 'update_eleve_fields' + '/'+ eleveId + classeId +'/',
          success: function(response) {
              // Gérez la réponse, si nécessaire
              console.log(response);
          },
          error: function(error) {
              // Gérez les erreurs, si nécessaire
              console.error(error);
          }
      });
  }
</script> -->
{% endblock content %}